


<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.2.min.js" %>
<%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>
<%= javascript_include_tag "http://code.highcharts.com/modules/exporting.js" %>

<div id="summary"  margin: "0 auto"></div>

<script type="text/javascript">
  $(function() {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'summary',
                type: 'column'
            },
			title: {
						text: '',
						
					},

		
         
            xAxis: {
                categories: ['Automotive', 'Agency', 'Contractor','Country Club', 'Ent.', 'Funeral', 'Furniture', 'Healthcare', 'Laundry', 'Legal', 'Office', 'Personal Trainer','Real Estate', 'Religious', 'Restaurant', 'Retail', 'Salon', 'Wedding Hall', 'Other']
            },
            yAxis: {
                min: 0,
			
             
              
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'left',
                x: 100,
                verticalAlign: 'top',
                y: 0,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.x + '</b><br/>' + this.series.name + ': ' + this.y + '<br/>' + 'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [

                {
                name: 'Mobile',
                data: [<%= (Business.where(:type_id => 2)).count(:conditions => {:mobile => true}) %>,  <%= (Business.where(:type_id => 4)).count(:conditions => {:mobile => true}) %>,  <%= (Business.where(:type_id => 5)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 6)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 7)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 9)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 10)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 11)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 12)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 13)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 14)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 15)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 16)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 17)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 8)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 18)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 19)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 20)).count(:conditions => {:mobile => true}) %>, <%= (Business.where(:type_id => 1)).count(:conditions => {:mobile => true}) %>]},
            {
                name: 'Foursquare',
                data: [<%= (Business.where(:type_id => 2)).count(:conditions => {:foursquare => true}) %>,  <%= (Business.where(:type_id => 4)).count(:conditions => {:foursquare => true}) %>,  <%= (Business.where(:type_id => 5)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 6)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 7)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 9)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 10)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 11)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 12)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 13)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 14)).count(:conditions => {:foursquare => true}) %>,  <%= (Business.where(:type_id => 15)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 16)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 17)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 8)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 18)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 19)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 20)).count(:conditions => {:foursquare => true}) %>, <%= (Business.where(:type_id => 1)).count(:conditions => {:foursquare => true}) %>] },
            {
                name: 'Facebook',
                data: [<%= (Business.where(:type_id => 2)).count(:conditions => {:facebook => true}) %>,  <%= (Business.where(:type_id => 4)).count(:conditions => {:facebook => true}) %>,  <%= (Business.where(:type_id => 5)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 6)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 7)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 9)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 10)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 11)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 12)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 13)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 14)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 15)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 16)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 17)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 8)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 18)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 19)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 20)).count(:conditions => {:facebook => true}) %>, <%= (Business.where(:type_id => 1)).count(:conditions => {:facebook => true}) %>]},
            {
                name: 'Yelp',
                data: [<%= (Business.where(:type_id => 2)).count(:conditions => {:yelp => true}) %>,  <%= (Business.where(:type_id => 4)).count(:conditions => {:yelp => true}) %>,  <%= (Business.where(:type_id => 5)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 6)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 7)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 9)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 10)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 11)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 12)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 13)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 14)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 15)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 16)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 17)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 8)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 18)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 19)).count(:conditions => {:yelp => true}) %>, <%= (Business.where(:type_id => 20)).count(:conditions => {:yelp => true}) %> , <%= (Business.where(:type_id => 1)).count(:conditions => {:yelp => true}) %>]},
            {
                name: 'Google',
                data: [<%= (Business.where(:type_id => 2)).count(:conditions => {:google => true}) %>,  <%= (Business.where(:type_id => 4)).count(:conditions => {:google => true}) %>,  <%= (Business.where(:type_id => 5)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 6)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 7)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 9)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 10)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 11)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 12)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 13)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 14)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 15)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 16)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 17)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 8)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 18)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 19)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 20)).count(:conditions => {:google => true}) %>, <%= (Business.where(:type_id => 1)).count(:conditions => {:google => true}) %>]}]
        });
    });
});


</script>

