<%= javascript_include_tag "https://raw.github.com/DataTables/DataTables/master/media/js/jquery.js" %>
<%= javascript_include_tag "http://datatables.net/download/build/jquery.dataTables.js" %>
<%= javascript_include_tag "http://www.kunalbabre.com/projects/table2CSV.js" %>
<%= javascript_include_tag "http://pastebin.com/raw.php?i=5tK2aaLC"%>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.2.min.js"%>
<script type="text/javascript">
$(document).ready(function()
{
  $("tr:even").css("background-color", "#D3D3D3");
});

</script>
<style type="text/css">

td, th {

table-layout: fixed;
/*border-color: black;
border-width: .2px;
border-style: solid;
*/
text-align: center;
}

tr#first {
	font-size: 12px;
	
	color: black;
	
}


</style>

<h1>Businesses</h1>



<table id="business" class = "sortable">
	<col width="15%" >
	<col width="10%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	<col width= "7.5%">
	
	
	
	
			<thead id="head">
				<tr  id="first">
					<th>
						Industry</th>
					<th>
						Instances</th>
					<th colspan="2" align="center">
						Mobile</th>
					<th colspan="2" align="center">
						Foursquare</th>
					<th colspan="2" align="center">
						Facebook</th>
					<th colspan="2" align="center">
						Yelp</th>
					<th colspan="2" align="center">
						Google</th>
				</tr>
					<tr>
						<th>
							 </th>
						<th>
							#</th>
						<th>
							#</th>
						<th>
							% of Total</th>
						<th>
							#</th>
						<th>
							% of Total</th>
						<th>
							#</th>
						<th>
							% of Total</th>
					    <th>
							#</th>
						<th>
							% of Total</th>
						<th>
							#</th>
						<th>
							% of Total</th>
					</tr>
				
				
				</thead>
				
				<tbody>
			
				<tr>
					<td>
						Automotive</td>
					<td>
						<%= (Business.where(:type_id => 2)).count() %> </td>
					<td>
						<%= (Business.where(:type_id => 2)).count(:conditions => {:mobile => true}) %></td>
					<td>
						<%= number_to_percentage(( ( (Business.where(:type_id => 2)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 2)).count() ).to_f ) * 100, :precision => 1) 
						  %> 
						</td>
					<td>
						<%= (Business.where(:type_id => 2)).count(:conditions => {:foursquare => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 2)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 2)).count() ).to_f ) * 100, :precision => 1) %></td>
					<td>
						<%= (Business.where(:type_id => 2)).count(:conditions => {:facebook => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 2)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 2)).count() ).to_f ) * 100, :precision => 1) %></td>
					<td>
						<%= (Business.where(:type_id => 2)).count(:conditions => {:yelp => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 2)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 2)).count() ).to_f ) * 100, :precision => 1) %></td>
					<td>
						<%= (Business.where(:type_id => 2)).count(:conditions => {:google => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 2)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 2)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Agencies</td>
						<td>
							<%= (Business.where(:type_id => 4)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 4)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 4)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 4)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 4)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 4)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 4)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 4)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 4)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 4)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 4)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 4)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 4)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 4)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 4)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 4)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Contractor</td>
						<td>
							<%= (Business.where(:type_id => 5)).count() %> </td>
					
						<td>
							<%= (Business.where(:type_id => 5)).count(:conditions => {:mobile => true}) %></td>
								
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 5)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 5)).count() ).to_f ) * 100.to_f, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 5)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 5)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 5)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 5)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 5)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 5)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 5)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 5)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 5)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 5)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 5)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 5)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Country Club</td>
						<td>
							<%= (Business.where(:type_id => 6)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 6)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 6)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 6)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 6)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 6)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 6)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 6)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 6)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 6)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 6)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 6)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 6)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 6)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 6)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 6)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Entertainment</td>
						<td>
							<%= (Business.where(:type_id => 7)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 7)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 7)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 7)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 7)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 7)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 7)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 7)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 7)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 7)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 7)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 7)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 7)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 7)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 7)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 7)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Funeral</td>
						<td>
							<%= (Business.where(:type_id => 9)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 9)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 9)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 9)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 9)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 9)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 9)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 9)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 9)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 9)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 9)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 9)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 9)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 9)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 9)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 9)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Furniture</td>
						<td>
							<%= (Business.where(:type_id =>  10)).count() %> </td>
						<td>
							<%= (Business.where(:type_id =>  10)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id =>  10)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id =>  10)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id =>  10)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id =>  10)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id =>  10)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id =>  10)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id =>  10)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id =>  10)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id =>  10)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id =>  10)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id =>  10)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id =>  10)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id =>  10)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id =>  10)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Healthcare</td>
						<td>
							<%= (Business.where(:type_id => 11)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 11)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 11)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 11)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 11)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 11)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 11)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 11)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 11)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 11)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 11)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 11)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 11)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 11)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 11)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 11)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Laundry</td>
						<td>
							<%= (Business.where(:type_id => 12)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 12)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 12)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 12)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 12)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 12)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 12)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 12)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 12)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 12)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 12)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 12)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 12)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 12)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 12)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 12)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Legal</td>
						<td>
							<%= (Business.where(:type_id => 13)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 13)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 13)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 13)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 13)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 13)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 13)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 13)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 13)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 13)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 13)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 13)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 13)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 13)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 13)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 13)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Office</td>
						<td>
							<%= (Business.where(:type_id => 14)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 14)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 14)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 14)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 14)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 14)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 14)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 14)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 14)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 14)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 14)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 14)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 14)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 14)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 14)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 14)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Personal Trainer</td>
					<td>
						<%= (Business.where(:type_id => 15)).count() %> </td>
					<td>
						<%= (Business.where(:type_id => 15)).count(:conditions => {:mobile => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 15)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 15)).count() ).to_f ) * 100, :precision => 1) %> </td>
					<td>
						<%= (Business.where(:type_id => 15)).count(:conditions => {:foursquare => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 15)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 15)).count() ).to_f ) * 100, :precision => 1) %></td>
					<td>
						<%= (Business.where(:type_id => 15)).count(:conditions => {:facebook => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 15)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 15)).count() ).to_f ) * 100, :precision => 1) %></td>
					<td>
						<%= (Business.where(:type_id => 15)).count(:conditions => {:yelp => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 15)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 15)).count() ).to_f ) * 100, :precision => 1) %></td>
					<td>
						<%= (Business.where(:type_id => 15)).count(:conditions => {:google => true}) %></td>
					<td>
						<%=  number_to_percentage(( ( (Business.where(:type_id => 15)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 15)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				
				<tr>
					<td>
						Real Estate</td>
						<td>
							<%= (Business.where(:type_id => 16)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 16)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 16)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 16)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 16)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 16)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 16)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 16)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 16)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 16)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 16)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 16)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 16)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 16)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 16)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 16)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Religious</td>
						<td>
							<%= (Business.where(:type_id => 17)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 17)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 17)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 17)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 17)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 17)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 17)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 17)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 17)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 17)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 17)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 17)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 17)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 17)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 17)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 17)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Restaurant</td>
						<td>
							<%= (Business.where(:type_id => 8)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 8)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 8)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 8)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 8)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 8)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 8)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 8)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 8)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 8)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 8)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 8)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 8)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 8)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 8)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 8)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				
				<tr>
					<td>
						Retail</td>
						<td>
							<%= (Business.where(:type_id => 18)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 18)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 18)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 18)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 18)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 18)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 18)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 18)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 18)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 18)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 18)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 18)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 18)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 18)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 18)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 18)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Salon</td>
						<td>
							<%= (Business.where(:type_id => 19)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 19)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 19)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 19)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 19)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 19)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 19)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 19)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 19)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 19)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 19)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 19)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 19)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 19)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 19)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 19)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Wedding Hall</td>
						<td>
							<%= (Business.where(:type_id => 20)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 20)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 20)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 20)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 20)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 20)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 20)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 20)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 20)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 20)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 20)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 20)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 20)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 20)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 20)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 20)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tr>
					<td>
						Other</td>
						<td>
							<%= (Business.where(:type_id => 1)).count() %> </td>
						<td>
							<%= (Business.where(:type_id => 1)).count(:conditions => {:mobile => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 1)).count(:conditions => {:mobile => true}) ) / ( (Business.where(:type_id => 1)).count() ).to_f ) * 100, :precision => 1) %> </td>
						<td>
							<%= (Business.where(:type_id => 1)).count(:conditions => {:foursquare => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 1)).count(:conditions => {:foursquare => true}) ) / ( (Business.where(:type_id => 1)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 1)).count(:conditions => {:facebook => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 1)).count(:conditions => {:facebook => true}) ) / ( (Business.where(:type_id => 1)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 1)).count(:conditions => {:yelp => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 1)).count(:conditions => {:yelp => true}) ) / ( (Business.where(:type_id => 1)).count() ).to_f ) * 100, :precision => 1) %></td>
						<td>
							<%= (Business.where(:type_id => 1)).count(:conditions => {:google => true}) %></td>
						<td>
							<%=  number_to_percentage(( ( (Business.where(:type_id => 1)).count(:conditions => {:google => true}) ) / ( (Business.where(:type_id => 1)).count() ).to_f ) * 100, :precision => 1) %></td>
				</tr>
				<tfoot>
				<tr class="sortbottom">
					<td>
						Total</td>
					<td>
						<%= Business.count() %> </td>
					<td>
						<%= Business.count(:conditions => {:mobile => true }) %> </td>
					<td>
						<%= number_to_percentage(((Business.count(:conditions => {:mobile => true }))/(Business.count()).to_f)*100, :precision=> 1) %></td>
					<td>
						<%= Business.count(:conditions => {:foursquare => true }) %></td>
					<td>
						<%= number_to_percentage(((Business.count(:conditions => {:foursquare => true }))/(Business.count()).to_f)*100, :precision=> 1) %></td>
					<td>
						<%= Business.count(:conditions => {:facebook => true }) %></td>
					<td>
						<%= number_to_percentage(((Business.count(:conditions => {:facebook => true }))/(Business.count()).to_f)*100, :precision=> 1) %></td>
					<td>
						<%= Business.count(:conditions => {:yelp => true }) %></td>
					<td>
						<%= number_to_percentage(((Business.count(:conditions => {:yelp => true }))/(Business.count()).to_f)*100, :precision=> 1) %></td>
					<td>
						<%= Business.count(:conditions => {:google => true }) %></td>
					<td>
						<%= number_to_percentage(((Business.count(:conditions => {:google => true }))/(Business.count()).to_f)*100, :precision=> 1) %></td>
				</tr>
			  </tfoot>
			</tbody>
		</table>

		
		